# Created by Vercel CLI
KV_REST_API_READ_ONLY_TOKEN=""
KV_REST_API_TOKEN=""
KV_REST_API_URL="https://example.upstash.io"
KV_URL=""
REDIS_URL=""
SENTRY_DSN=""
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
VERCEL_OIDC_TOKEN=""
VITE_SENTRY_DSN=""
